.file-uploader-wrapper{
    max-width: 100%;
    overflow: hidden;
    height: 100%;
}


.file-upload-container{
    width: 100%;
    padding: 0.8rem;
    height: 100%;
}

.file-upload-main-container{
    height: 90vh;
    flex-direction: column;

}

.file-upload-section{
    padding: 1rem;
    /* max-width: 95%; */
    /* height: 150px; */
    justify-content: space-between;
    /* border: 2px dotted rgb(3, 90, 32); */
}

.file-query-result{
    border: 1px solid rgba(48, 46, 46, 0.295);
}

.drop-zone-container{
    height: 100%;
}

.file-query-result{
    flex: 1;
    max-height: 90vh;
}

.file-upload-buttons{
    justify-content: flex-end;
}

.file-upload-input{
    gap: 0.5rem;
    width: 50%;
    flex-direction: column;
}

.file-upload-input input::file-selector-button {
    display: none;
  }



.file-upload-input input::placeholder{
    opacity: 100%;
}

.upload-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1%;
    border: 2px dotted rgb(165, 165, 165);
}


.upload-section img {
    width: 80px;
}

.dropzone{
    display: flex;
    flex-direction: column;
    align-items: center;
}