.home-wrapper{
    gap: 0rem;
    min-height: 100vh;
    height: 100%;
}

.side-nav-wrapper{
    max-width: 200px;
    min-width: 200px;
    /* border: 1px solid rgba(150, 150, 150, 0.397); */
}

.module-wrapper{
    padding: 1%;
    width: 90%;

}
